/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --second-color: #DB00FF;
  --assisting-color: #000028;
  --par-color: #f1b2ce;
  --header-bg: url("../images/cover-image-dark.png");
  --page-bg: url("../images/cover-image.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
