/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #DB00FF;
  --second-color: #ff0070;
  --bg-color: #000028;
  --heading-shadow: 4px 4px 0 var(--second-color);
  --header-bg: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
