.page {
  font-family: var(--main-font-family);

  background-color: var(--page-bg-color);
  background-image: var(--page-bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  margin-block-end: 40px;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);

  min-block-size: 100vh;

  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);

  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);

  bottom: 10px;
  left: 10px;
}

.title-decor {
  background-color: var(--text-bg-color);
}

.header__decoration {
  position: absolute;
  top: 10px;
  right: 19px;
  opacity: var(--decor-opacity);
}

.header__decoration::before {
  content: "Rec";
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 25px;
}

.header__decoration::after {
  margin-inline-start: 10px;

  content: "";

  display: inline-block;

  width: 9px;
  height: 9px;
  background: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  margin-block: 65px;

  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;

  background: transparent;
  border: none;

  color: var(--accent-color);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 1;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-item:hover {
  outline: var(--hover-button-outline);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: var(--focus-button-border)
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color); /* Для рамки используется outline для корректного отображения hover */
  pointer-events: none;
}

.header__title {
  margin-block-end: 55px;

  color: var(--second-color);
  text-shadow: var(--text-shadow);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 96px;
}

.header__paragraph {
  margin-block-end: 66px;

  margin-inline-start: auto;
  margin-inline-end: auto;

  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--assisting-color);
}

.main {
  padding-inline: 10px;
  margin-block-end: 40px;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main-section:not(:last-child) {
  margin-block-end: 50px;
}

.main__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.assist-color {
  color: var(--assisting-color);
}

.main-section__examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-section__examples-item {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__subtitle {
  color: var(--assisting-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.main-section__title {
  color: var(--assisting-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.main-section__title_advice {
  font-weight: 400;
}

.main-section__paragraph {
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--par-color);
}

.main-section__link {
  text-shadow: var(--small-text-shadow);
  text-decoration: none;
  border-block-end: 1px solid transparent;
}

.main-section__link:hover {
  border-block-end-color: var(--hover-underline-color)
}

.main-section__link:focus {
  outline: none;
}

.main-section__link:focus-visible {
  outline: var(--focus-link);
}

.main-section__gallery-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.main-section_gallery-image {
  inline-size: 100%;
  block-size: 100%;

  display: block;

  object-fit: cover;
}

.main-section__five-advices {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-section_wide:last-child {
  gap: 10px;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;

  position: relative;

  display: grid;
  grid-template-columns: 1fr;
}

.footer__title {
  margin: auto;

  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  color: var(--second-color);
  text-shadow: var(--text-shadow);
  text-align: center;
}

@media (width >= 768px) { /* В автотестах на гитхабе проверка идет по 768px, по этому в медиа-запросе проверка по данному значению */
  .header {
    margin-block-end: 60px;
    padding-inline-start: 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decoration {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
    margin-block-end: 173px;
  }

  .header__title {
    line-height: 99px;
    margin-block-end: 162px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header__paragraph {
    inline-size: 364px;
    margin-inline-end: 0;
    margin-block-end: 163px;
  }

  .main {
    padding-inline: 20px;
    margin-block-end: 60px;
  }

  .main-section__examples-list {
    gap: 20px;
  }

  .main-section {
    grid-template-columns: 236px 1fr;
  }

  .main-section_wide {
    grid-template-columns: 1fr;
  }

  .main-section_wide:last-child {
    gap: 20px;
  }

  .main-section:not(:last-child) .main__title {
    max-inline-size: 236px;
  }

  .main-section__gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main-section__gallery-item:first-child,
  .main-section__gallery-item:last-child {
    grid-column-start: span 2;
  }
  
  .main-section__gallery-item:nth-child(2),
  .main-section__gallery-item:nth-child(3) {
    grid-row-start: span 2;
  }

  .main-section:not(:last-child) {
    margin-block-end: 80px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: 0;
    margin-block-end: 273px;
    margin-inline-start: 20px;

    justify-self: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-end: 114px;
    line-height: 130px;
  }

  .header__paragraph {
    inline-size: 491px;
    margin-block-end: 114px;
  }

  .main-section {
    grid-template-columns: 315px 1fr;
  }

  .main-section_wide {
    grid-template-columns: 1fr;
  }

  .main-section_wide .main-section__examples-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-section:not(:last-child) .main__title {
    max-inline-size: 315px;
  }

  .footer__title {
    line-height: 130px;
  }
}